<section>
  <h2>
    Dear future me.
  </h2>

  <p>
    Write an e-mail to yourself, set the date you want to receive it and send it! Simple as that!
  </p>

  <%= form_for @email, url: emails_path, method: :post do |f| %>
    <%= f.text_field :to, placeholder: :to %>
    <%= f.text_area :body, placeholder: :body %>
    <%= f.label :send_date_on %>
    <%= f.date_select :send_date_on, end_year: Time.current.year + 50 %>
    <p class="italic">PS: We will send a confirmation e-mail beforehand in order to avoid spam.</p>
    <%= invisible_recaptcha_tags text: t('create', scope: 'helpers.submit', model: @email.model_name.human) %>
  <% end %>

</section>
