<h1>
  Dear future me.
</h1>

<h2>
  Write an e-mail to yourself, set the date you want to receive it and send it!
</h2>

<h3>
  Simple as that!
</h3>

<%= form_for @email, url: emails_path, method: :post do |f| %>
  <%= f.text_field :to %>
  <%= f.text_area :body %>
  <%= f.date_select :send_date_on %>
  <%= invisible_recaptcha_tags text: t('create', scope: 'helpers.submit', model: @email.model_name.human) %>
<% end %>
