<section>
  <h2>
    Dear future me.
  </h2>

  <p>
    Write an e-mail to yourself, set the date you want to receive it and send it! Simple as that!
  </p>

  <%= form_for @email, url: emails_path, method: :post do |f| %>
    <%= f.text_field :to, placeholder: :to %>
    <%= f.text_area :body, placeholder: :body %>
    <%= f.label :send_date_on %>
    <%= f.date_select :send_date_on, end_year: Time.current.year + 50 %>
    <p class="italic">PS: We will send a confirmation e-mail beforehand in order to avoid spam.</p>
    <%= invisible_recaptcha_tags text: t('create', scope: 'helpers.submit', model: @email.model_name.human) %>
  <% end %>

</section>

<section>

  <p class="italic">
    "Good morning, me. Did you sleep well? Did you wake up feeling good?
    Did the light, and the wind, and the smell, and the sound, all seem like they’re brand new and fresh this morning?
    Is each and every cell in your whole body awake and alive now? Today, you are who you are today.
    See? You’re still me, but you’re a newer version.
    …Myself ten years from now. It’s so far away; it’s almost impossible to imagine.
    Am I alone or is there a wonderful person next to me?
    Knowing me I’m sure you’re causing all kinds of trouble for lots of different people.
    I’m sorry, I don’t mean to, but it’s all right. That’s part of life too isn’t it?
    You’re not perfect but you’ve got a lot to give, so remember:
    I’ll always be cheering you on." -
    <span class="normal">
      Faye Valentine, Cowboy Bebop
    </span>
  </p>
</section>
